.carousel-inner img {
    max-height: 400px;
    width: auto;
    object-fit: contain;
    margin:0 auto;

}


body {
    background-color: rgb(59, 59, 200);
    font-family: "Prompt", sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    background-color: #001f3f;
}

h1 {
    color: white;
    font-size: 4rem;
    margin: 0;
    flex: 1;
    text-align: center; 
}

.header-img {
    max-width: 100px;
    height: auto;
    object-fit: contain;
    border-radius: 5;
}

footer {
    font-size: medium;
    color: white;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center; 
    padding: 20px;
    background-color: #001f3f; 
}

.social-icon {
    width: 40px; 
    height: auto;
    margin: 0 15px; 
    transition: transform 0.3s; 
}

.social-icon:hover {
    transform: scale(1.2);
}